/* https://material-foundation.github.io/material-theme-builder/ */
/* Source color: #898AD0, hue 285, chroma 40, tone 60 */

:root {
	/* Light */
	--mdui-color-primary-light: 88,89,146;
	--mdui-color-surface-tint-color-light: 88,89,146;
	--mdui-color-on-primary-light: 255,255,255;
	--mdui-color-primary-container-light: 225,223,255;
	--mdui-color-on-primary-container-light: 64,65,120;
	--mdui-color-secondary-light: 93,92,114;
	--mdui-color-on-secondary-light: 255,255,255;
	--mdui-color-secondary-container-light: 226,224,249;
	--mdui-color-on-secondary-container-light: 69,69,89;
	--mdui-color-tertiary-light: 121,83,105;
	--mdui-color-on-tertiary-light: 255,255,255;
	--mdui-color-tertiary-container-light: 255,216,236;
	--mdui-color-on-tertiary-container-light: 95,60,81;
	--mdui-color-error-light: 186,26,26;
	--mdui-color-on-error-light: 255,255,255;
	--mdui-color-error-container-light: 255,218,214;
	--mdui-color-on-error-container-light: 147,0,10;
	--mdui-color-background-light: 252,248,255;
	--mdui-color-on-background-light: 27,27,33;
	--mdui-color-surface-light: 252,248,255;
	--mdui-color-on-surface-light: 27,27,33;
	--mdui-color-surface-variant-light: 228,225,236;
	--mdui-color-on-surface-variant-light: 71,70,79;
	--mdui-color-outline-light: 119,118,128;
	--mdui-color-outline-variant-light: 200,197,208;
	--mdui-color-shadow-light: 0,0,0;
	--mdui-color-scrim-light: 0,0,0;
	--mdui-color-inverse-surface-light: 48,48,54;
	--mdui-color-inverse-on-surface-light: 243,239,247;
	--mdui-color-inverse-primary-light: 193,193,255;
	--mdui-color-surface-dim-light: 220,217,224;
	--mdui-color-surface-bright-light: 252,248,255;
	--mdui-color-surface-container-lowest-light: 255,255,255;
	--mdui-color-surface-container-low-light: 246,242,250;
	--mdui-color-surface-container-light: 240,236,244;
	--mdui-color-surface-container-high-light: 234,231,239;
	--mdui-color-surface-container-highest-light: 228,225,233;
	/* Dark */
	--mdui-color-primary-dark: 193,193,255;
	--mdui-color-surface-tint-color-dark: 193,193,255;
	--mdui-color-on-primary-dark: 41,42,96;
	--mdui-color-primary-container-dark: 64,65,120;
	--mdui-color-on-primary-container-dark: 225,223,255;
	--mdui-color-secondary-dark: 198,196,221;
	--mdui-color-on-secondary-dark: 47,47,66;
	--mdui-color-secondary-container-dark: 69,69,89;
	--mdui-color-on-secondary-container-dark: 226,224,249;
	--mdui-color-tertiary-dark: 233,185,211;
	--mdui-color-on-tertiary-dark: 70,38,58;
	--mdui-color-tertiary-container-dark: 95,60,81;
	--mdui-color-on-tertiary-container-dark: 255,216,236;
	--mdui-color-error-dark: 255,180,171;
	--mdui-color-on-error-dark: 105,0,5;
	--mdui-color-error-container-dark: 147,0,10;
	--mdui-color-on-error-container-dark: 255,218,214;
	--mdui-color-background-dark: 19,19,24;
	--mdui-color-on-background-dark: 228,225,233;
	--mdui-color-surface-dark: 19,19,24;
	--mdui-color-on-surface-dark: 228,225,233;
	--mdui-color-surface-variant-dark: 71,70,79;
	--mdui-color-on-surface-variant-dark: 200,197,208;
	--mdui-color-outline-dark: 145,143,154;
	--mdui-color-outline-variant-dark: 71,70,79;
	--mdui-color-shadow-dark: 0,0,0;
	--mdui-color-scrim-dark: 0,0,0;
	--mdui-color-inverse-surface-dark: 228,225,233;
	--mdui-color-inverse-on-surface-dark: 48,48,54;
	--mdui-color-inverse-primary-dark: 88,89,146;
	--mdui-color-surface-dim-dark: 19,19,24;
	--mdui-color-surface-bright-dark: 57,56,63;
	--mdui-color-surface-container-lowest-dark: 14,14,19;
	--mdui-color-surface-container-low-dark: 27,27,33;
	--mdui-color-surface-container-dark: 31,31,37;
	--mdui-color-surface-container-high-dark: 42,41,47;
	--mdui-color-surface-container-highest-dark: 53,52,58;
}
