/* https://material-foundation.github.io/material-theme-builder/ */
/* Source color: #5174C8, hue 270, chroma 50, tone 50 */

:root {
	/* Light */
	--mdui-color-primary-light: 72,93,146;
	--mdui-color-primary-container-light: 218,226,255;
	--mdui-color-on-primary-light: 255,255,255;
	--mdui-color-on-primary-container-light: 48,69,120;
	--mdui-color-inverse-primary-light: 177,197,255;
	--mdui-color-secondary-light: 88,94,113;
	--mdui-color-secondary-container-light: 220,226,249;
	--mdui-color-on-secondary-light: 255,255,255;
	--mdui-color-on-secondary-container-light: 64,70,89;
	--mdui-color-tertiary-light: 115,85,114;
	--mdui-color-tertiary-container-light: 254,215,249;
	--mdui-color-on-tertiary-light: 255,255,255;
	--mdui-color-on-tertiary-container-light: 89,61,89;
	--mdui-color-surface-light: 250,248,255;
	--mdui-color-surface-dim-light: 218,217,224;
	--mdui-color-surface-bright-light: 250,248,255;
	--mdui-color-surface-container-lowest-light: 255,255,255;
	--mdui-color-surface-container-low-light: 244,243,250;
	--mdui-color-surface-container-light: 238,237,244;
	--mdui-color-surface-container-high-light: 232,231,239;
	--mdui-color-surface-container-highest-light: 226,226,233;
	--mdui-color-surface-variant-light: 225,226,236;
	--mdui-color-on-surface-light: 26,27,33;
	--mdui-color-on-surface-variant-light: 68,70,79;
	--mdui-color-inverse-surface-light: 47,48,54;
	--mdui-color-inverse-on-surface-light: 241,240,247;
	--mdui-color-background-light: 250,248,255;
	--mdui-color-on-background-light: 26,27,33;
	--mdui-color-error-light: 186,26,26;
	--mdui-color-error-container-light: 255,218,214;
	--mdui-color-on-error-light: 255,255,255;
	--mdui-color-on-error-container-light: 147,0,10;
	--mdui-color-outline-light: 117,119,128;
	--mdui-color-outline-variant-light: 197,198,208;
	--mdui-color-shadow-light: 0,0,0;
	--mdui-color-surface-tint-color-light: 72,93,146;
	--mdui-color-scrim-light: 0,0,0;
	/* Dark */
	--mdui-color-primary-dark: 177,197,255;
	--mdui-color-primary-container-dark: 48,69,120;
	--mdui-color-on-primary-dark: 23,46,96;
	--mdui-color-on-primary-container-dark: 218,226,255;
	--mdui-color-inverse-primary-dark: 72,93,146;
	--mdui-color-secondary-dark: 192,198,221;
	--mdui-color-secondary-container-dark: 64,70,89;
	--mdui-color-on-secondary-dark: 42,48,66;
	--mdui-color-on-secondary-container-dark: 220,226,249;
	--mdui-color-tertiary-dark: 225,187,221;
	--mdui-color-tertiary-container-dark: 89,61,89;
	--mdui-color-on-tertiary-dark: 65,39,66;
	--mdui-color-on-tertiary-container-dark: 254,215,249;
	--mdui-color-surface-dark: 18,19,24;
	--mdui-color-surface-dim-dark: 18,19,24;
	--mdui-color-surface-bright-dark: 56,57,63;
	--mdui-color-surface-container-lowest-dark: 13,14,19;
	--mdui-color-surface-container-low-dark: 26,27,33;
	--mdui-color-surface-container-dark: 30,31,37;
	--mdui-color-surface-container-high-dark: 40,42,47;
	--mdui-color-surface-container-highest-dark: 51,52,58;
	--mdui-color-surface-variant-dark: 68,70,79;
	--mdui-color-on-surface-dark: 226,226,233;
	--mdui-color-on-surface-variant-dark: 197,198,208;
	--mdui-color-inverse-surface-dark: 226,226,233;
	--mdui-color-inverse-on-surface-dark: 47,48,54;
	--mdui-color-background-dark: 18,19,24;
	--mdui-color-on-background-dark: 226,226,233;
	--mdui-color-error-dark: 255,180,171;
	--mdui-color-error-container-dark: 147,0,10;
	--mdui-color-on-error-dark: 105,0,5;
	--mdui-color-on-error-container-dark: 255,218,214;
	--mdui-color-outline-dark: 143,144,153;
	--mdui-color-outline-variant-dark: 68,70,79;
	--mdui-color-shadow-dark: 0,0,0;
	--mdui-color-surface-tint-color-dark: 177,197,255;
	--mdui-color-scrim-dark: 0,0,0;
}
