/* https://material-foundation.github.io/material-theme-builder/ */
/* Source color: #769CDF, hue 263.301, chroma 42.758, tone 64.125 */

/* Search for: X X X	repalce with: X,X,X		*/
/* (\d+)\s(\d+)\s(\d+)  $1,$2,$3				*/

:root {
	/* Light */
  --mdui-color-primary-light: 65,95,145;
  --mdui-color-surface-tint-color-light: 65,95,145;
  --mdui-color-on-primary-light: 255,255,255;
  --mdui-color-primary-container-light: 214,227,255;
  --mdui-color-on-primary-container-light: 40,71,119;
  --mdui-color-secondary-light: 86,95,113;
  --mdui-color-on-secondary-light: 255,255,255;
  --mdui-color-secondary-container-light: 218,226,249;
  --mdui-color-on-secondary-container-light: 62,71,89;
  --mdui-color-tertiary-light: 112,85,117;
  --mdui-color-on-tertiary-light: 255,255,255;
  --mdui-color-tertiary-container-light: 250,216,253;
  --mdui-color-on-tertiary-container-light: 87,62,92;
  --mdui-color-error-light: 186,26,26;
  --mdui-color-on-error-light: 255,255,255;
  --mdui-color-error-container-light: 255,218,214;
  --mdui-color-on-error-container-light: 147,0,10;
  --mdui-color-background-light: 249,249,255;
  --mdui-color-on-background-light: 25,28,32;
  --mdui-color-surface-light: 249,249,255;
  --mdui-color-on-surface-light: 25,28,32;
  --mdui-color-surface-variant-light: 224,226,236;
  --mdui-color-on-surface-variant-light: 68,71,78;
  --mdui-color-outline-light: 116,119,127;
  --mdui-color-outline-variant-light: 196,198,208;
  --mdui-color-shadow-light: 0,0,0;
  --mdui-color-scrim-light: 0,0,0;
  --mdui-color-inverse-surface-light: 46,48,54;
  --mdui-color-inverse-on-surface-light: 240,240,247;
  --mdui-color-inverse-primary-light: 170,199,255;
  --mdui-color-surface-dim-light: 217,217,224;
  --mdui-color-surface-bright-light: 249,249,255;
  --mdui-color-surface-container-lowest-light: 255,255,255;
  --mdui-color-surface-container-low-light: 243,243,250;
  --mdui-color-surface-container-light: 237,237,244;
  --mdui-color-surface-container-high-light: 231,232,238;
  --mdui-color-surface-container-highest-light: 226,226,233;
	/* Dark */
  --mdui-color-primary-dark: 170,199,255;
  --mdui-color-surface-tint-color-dark: 170,199,255;
  --mdui-color-on-primary-dark: 10,48,95;
  --mdui-color-primary-container-dark: 40,71,119;
  --mdui-color-on-primary-container-dark: 214,227,255;
  --mdui-color-secondary-dark: 190,198,220;
  --mdui-color-on-secondary-dark: 40,49,65;
  --mdui-color-secondary-container-dark: 62,71,89;
  --mdui-color-on-secondary-container-dark: 218,226,249;
  --mdui-color-tertiary-dark: 221,188,224;
  --mdui-color-on-tertiary-dark: 63,40,68;
  --mdui-color-tertiary-container-dark: 87,62,92;
  --mdui-color-on-tertiary-container-dark: 250,216,253;
  --mdui-color-error-dark: 255,180,171;
  --mdui-color-on-error-dark: 105,0,5;
  --mdui-color-error-container-dark: 147,0,10;
  --mdui-color-on-error-container-dark: 255,218,214;
  --mdui-color-background-dark: 17,19,24;
  --mdui-color-on-background-dark: 226,226,233;
  --mdui-color-surface-dark: 17,19,24;
  --mdui-color-on-surface-dark: 226,226,233;
  --mdui-color-surface-variant-dark: 68,71,78;
  --mdui-color-on-surface-variant-dark: 196,198,208;
  --mdui-color-outline-dark: 142,144,153;
  --mdui-color-outline-variant-dark: 68,71,78;
  --mdui-color-shadow-dark: 0,0,0;
  --mdui-color-scrim-dark: 0,0,0;
  --mdui-color-inverse-surface-dark: 226,226,233;
  --mdui-color-inverse-on-surface-dark: 46,48,54;
  --mdui-color-inverse-primary-dark: 65,95,145;
  --mdui-color-surface-dim-dark: 17,19,24;
  --mdui-color-surface-bright-dark: 55,57,62;
  --mdui-color-surface-container-lowest-dark: 12,14,19;
  --mdui-color-surface-container-low-dark: 25,28,32;
  --mdui-color-surface-container-dark: 29,32,36;
  --mdui-color-surface-container-high-dark: 40,42,47;
  --mdui-color-surface-container-highest-dark: 51,53,58;

}
