@page {
	size: A4;
	margin: 0;
}
html, body {
	width: 210mm;
	height: 297mm;
}

html, body, mdui-layout, mdui-layout-main, form, .container {
	background-color: none !important;
	border-width: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

mdui-top-app-bar, mdui-navigation-drawer, mdui-dialog {
	display: none !important;
}